{% switch seomaticCreator.siteCreatorType %}
{% case "corporation" %}
	"@type": "Corporation",
{% case "organization" %}
	"@type": "Organization",
{% case "person" %}
	"@type": "Person",
{% endswitch %}
{% if seomaticCreator.genericCreatorName %}
	"name": "{{ seomaticCreator.genericCreatorName }}",
{% endif %}
{% if seomaticCreator.genericCreatorAlternateName %}
	"alternateName": "{{ seomaticCreator.genericCreatorAlternateName }}",
{% endif %}
{% if seomaticCreator.genericCreatorDescription %}
	"description": "{{ seomaticCreator.genericCreatorDescription }}",
{% endif %}
{% if seomaticCreator.genericCreatorUrl %}
	"url": "{{ seomaticCreator.genericCreatorUrl }}",
{% endif %}
{% if seomaticCreator.genericCreatorImage is defined and seomaticCreator.genericCreatorImage is not null %}
	"image": "{{ seomaticCreator.genericCreatorImage.url }}",
{% endif %}
{% if seomaticCreator.genericCreatorTelephone %}
	"telephone": "{{ seomaticCreator.genericCreatorTelephone }}",
{% endif %}
{% if seomaticCreator.genericCreatorEmail %}
	"email": "{{ seomaticCreator.genericCreatorEmail | raw }}",
{% endif %}
{% if seomaticCreator.siteCreatorType != "person" %}
{% if seomaticCreator.genericCreatorImage is defined and seomaticCreator.genericCreatorImage is not null %}
	"logo": "{{ seomaticCreator.genericCreatorImage.url }}",
{% endif %}
	"location": {
		"@type": "Place",
{% if seomaticCreator.genericCreatorName %}
		"name": "{{ seomaticCreator.genericCreatorName }}",
{% endif %}
{% if seomaticCreator.genericCreatorAlternateName %}
		"alternateName": "{{ seomaticCreator.genericCreatorAlternateName }}",
{% endif %}
{% if seomaticCreator.genericCreatorDescription %}
		"description": "{{ seomaticCreator.genericCreatorDescription }}",
{% endif %}
{% if seomaticCreator.genericCreatorGeoLatitude and seomaticCreator.genericCreatorGeoLongitude  %}
		"geo": {
			"@type": "GeoCoordinates",
			"latitude": "{{ seomaticCreator.genericCreatorGeoLatitude}}",
			"longitude": "{{ seomaticCreator.genericCreatorGeoLongitude}}"
		},
{% endif %}
		"address": {
			"@type": "PostalAddress",
{% if seomaticCreator.genericCreatorStreetAddress %}
			"streetAddress": "{{ seomaticCreator.genericCreatorStreetAddress}}",
{% endif %}
{% if seomaticCreator.genericCreatorAddressLocality %}
			"addressLocality": "{{ seomaticCreator.genericCreatorAddressLocality}}",
{% endif %}
{% if seomaticCreator.genericCreatorAddressRegion %}
			"addressRegion": "{{ seomaticCreator.genericCreatorAddressRegion}}",
{% endif %}
{% if seomaticCreator.genericCreatorPostalCode %}
			"postalCode": "{{ seomaticCreator.genericCreatorPostalCode}}",
{% endif %}
			"addressCountry": "{{ seomaticCreator.genericCreatorAddressCountry}}"
		}
	},
{% if seomaticCreator.organizationCreatorDuns %}
	"duns": "{{ seomaticCreator.organizationCreatorDuns }}",
{% endif %}
{% if seomaticCreator.organizationCreatorFounder %}
	"founder": "{{ seomaticCreator.organizationCreatorFounder }}",
{% endif %}
{% if seomaticCreator.organizationCreatorFoundingDate %}
	"foundingDate": "{{ seomaticCreator.organizationCreatorFoundingDate }}",
{% endif %}
{% if seomaticCreator.organizationCreatorFoundingLocation %}
	"foundingLocation": "{{ seomaticCreator.organizationCreatorFoundingLocation }}",
{% endif %}
{% endif %}
{% switch seomaticCreator.siteCreatorType %}
{% case "corporation" %}
{% if seomaticCreator.corporationCreatorTickerSymbol %}
	"tickerSymbol": "{{ seomaticCreator.corporationCreatorTickerSymbol }}",
{% endif %}
{% case "organization" %}
{% case "person" %}
{% if seomaticCreator.personCreatorGender %}
	"gender": "{{ seomaticCreator.personCreatorGender }}",
{% endif %}
{% if seomaticCreator.personCreatorBirthPlace %}
	"birthPlace": "{{ seomaticCreator.personCreatorBirthPlace }}",
{% endif %}
{% endswitch %}
{# Not a property
{% if seomaticCreator.genericCreatorGeoLatitude and seomaticCreator.genericCreatorGeoLongitude  %}
	"geo": {
		"@type": "GeoCoordinates",
		"latitude": "{{ seomaticCreator.genericCreatorGeoLatitude}}",
		"longitude": "{{ seomaticCreator.genericCreatorGeoLongitude}}"
	},
{% endif %}
#}
	"address": {
		"@type": "PostalAddress",
{% if seomaticCreator.genericCreatorStreetAddress %}
		"streetAddress": "{{ seomaticCreator.genericCreatorStreetAddress}}",
{% endif %}
{% if seomaticCreator.genericCreatorAddressLocality %}
		"addressLocality": "{{ seomaticCreator.genericCreatorAddressLocality}}",
{% endif %}
{% if seomaticCreator.genericCreatorAddressRegion %}
		"addressRegion": "{{ seomaticCreator.genericCreatorAddressRegion}}",
{% endif %}
{% if seomaticCreator.genericCreatorPostalCode %}
		"postalCode": "{{ seomaticCreator.genericCreatorPostalCode}}",
{% endif %}
		"addressCountry": "{{ seomaticCreator.genericCreatorAddressCountry}}"
	}
