{% includeCssResource "css/craft.css" %}

{% includeJsResource "seomatic/js/jquery-2.2.4.min.js" %}
{% includeCssResource "seomatic/css/seo-metrics-style.css" %}

<div style="padding: 50px;">
    <h3><span style="color: red">Error:  </span>{{ errorMessage }}</span></h3>
</div>