{% includeCssResource "css/craft.css" %}
{% includeJsResource "lib/jquery-2.2.1.min.js" %}

{% includeCssResource "seomatic/css/seo-metrics-style.css" %}

<div style="padding: 50px;">
    <h3><span style="color: red">Error:  </span>{{ errorMessage }}</span></h3>
</div>