<!-- BEGIN SEOmatic rendered SEO Meta -->

<title>{{ seomaticMeta.seoTitle }} | {{ seomaticSiteMeta.siteSeoName }}</title>

<!-- Standard SEO -->

<meta name="keywords" content="{{ seomaticMeta.seoKeywords }}" />
<meta name="description" content="{{ seomaticMeta.seoDescription }}" />
<link rel="canonical" href="{{ seomaticMeta.canonicalUrl }}" />
{% for locale in craft.i18n.getSiteLocales() %}
{% if locale != craft.locale and craft.config.siteUrl is iterable %}{% if craft.config.siteUrl[locale.getId()] is defined %}<link rel="alternate" hreflang="{{ locale.getId() }}" href="{{ craft.config.siteUrl[locale.getId()] }}" />{% endif%}{% endif %}
{% endfor %}
{% if seomaticIdentity.genericOwnerAddressRegion %}
<meta name="geo.region" content="{{ seomaticIdentity.genericOwnerAddressRegion }}" />
{% endif %}
{% if seomaticIdentity.genericOwnerGeoLatitude and seomaticIdentity.genericOwnerGeoLongitude  %}
<meta name="geo.position" content="{{ seomaticIdentity.genericOwnerGeoLatitude }},{{ seomaticIdentity.genericOwnerGeoLongitude }}" />
<meta name="ICBM" content="{{ seomaticIdentity.genericOwnerGeoLatitude }},{{ seomaticIdentity.genericOwnerGeoLongitude }}" />
<meta name="geo.placename" content="{{ seomaticIdentity.genericOwnerName }}" />
{% endif %}

<!-- Dublin Core basic info -->

<meta name="dcterms.Identifier" content="{{ seomaticMeta.canonicalUrl }}" />
<meta name="dcterms.Format" content="text/html" />
<meta name="dcterms.Relation" content="{{ seomaticSiteMeta.siteSeoName }}" />
<meta name="dcterms.Language" content="{{ craft.locale }}" />
<meta name="dcterms.Publisher" content="{{ seomaticSiteMeta.siteSeoName }}" />
<meta name="dcterms.Type" content="text/html" />
<meta name="dcterms.Coverage" content="{{ siteUrl }}" />
<meta name="dcterms.Rights" content="Copyright &copy;{{ now | date('Y') }}, {{ seomaticIdentity.genericOwnerName }}. All rights reserved." />
<meta name="dcterms.Title" content="{{ seomaticMeta.seoTitle }}" />
<meta name="dcterms.Creator" content="{{ seomaticSiteMeta.siteSeoName }}" />
<meta name="dcterms.Subject" content="{{ seomaticMeta.seoKeywords }}" /> 
<meta name="dcterms.Contributor" content="{{ seomaticSiteMeta.siteSeoName }}" />
<meta name="dcterms.Date" content="{{ now | date('Y-m-d') }}" />
<meta name="dcterms.Description" content="{{ seomaticMeta.seoDescription }}" />

{% if seomaticSocial.facebookProfileId %}
<!-- Facebook OpenGraph -->

<meta property="fb:profile_id" content="{{ seomaticSocial.facebookProfileId }}" /> 
<meta property="og:type" content="website" /> 
<meta property="og:url" content="{{ seomaticMeta.canonicalUrl }}" /> 
<meta property="og:title" content="{{ seomaticMeta.seoTitle }} | {{ seomaticSiteMeta.siteSeoName }}" />
{% if seomaticMeta.seoImage is defined and seomaticMeta.seoImage is not null %}
<meta property="og:image" content="{{ seomaticMeta.seoImage.url }}" />
{% endif %}
<meta property="og:site_name" content="{{ seomaticSiteMeta.siteSeoName }}" /> 
<meta property="og:description" content="{{ seomaticMeta.seoDescription }}" /> 
<meta property="og:locale" content="{{ craft.locale }}" /> 
<meta property="og:see_also" content="{{ siteUrl }}" /> 
{% if seomaticSocial.facebookHandle %}
<meta property="og:see_also" content="{{ seomaticSocial.facebookUrl }}" /> 
{% endif %}
{% if seomaticSocial.twitterHandle %}
<meta property="og:see_also" content="{{ seomaticSocial.twitterUrl }}" /> 
{% endif %}
{% if seomaticSocial.googlePlusHandle %}
<meta property="og:see_also" content="{{ seomaticSocial.googlePlusUrl }}" /> 
{% endif %}
{% if seomaticSocial.linkedInHandle %}
<meta property="og:see_also" content="{{ seomaticSocial.linkedInUrl }}" /> 
{% endif %}
{% if seomaticSocial.youtubeHandle %}
<meta property="og:see_also" content="{{ seomaticSocial.youtubeUrl }}" /> 
{% endif %}
{% if seomaticSocial.instagramHandle %}
<meta property="og:see_also" content="{{ seomaticSocial.instagramUrl }}" /> 
{% endif %}
{% if seomaticSocial.pinterestHandle %}
<meta property="og:see_also" content="{{ seomaticSocial.pinterestUrl }}" /> 
{% endif %}
{% endif %}

{% if seomaticSocial.twitterHandle %}
<!-- Twitter Card -->

<meta property="twitter:card" content="summary" />
<meta property="twitter:site" content="@{{ seomaticSocial.twitterHandle }}" />
<meta property="twitter:title" content="{{ seomaticMeta.seoTitle }} | {{ seomaticSiteMeta.siteSeoName }}" />
<meta property="twitter:description" content="{{ seomaticMeta.seoDescription }}" />
{% if seomaticMeta.seoImage is defined and seomaticMeta.seoImage is not null %}
<meta property="twitter:image" content="{{ seomaticMeta.seoImage.url }}" />
{% endif %}
<meta property="twitter:url" content="{{ siteUrl }}" />
{% endif %}

{% if seomaticSocial.googlePlusHandle %}
<!-- Google Publisher/Authorship -->

<link rel="publisher" href="{{ seomaticSocial.googlePlusUrl }}" />
<link rel="author" href="{{ seomaticSocial.googlePlusUrl }}" />
{% endif %}

{% if seomaticIdentity.googleSiteVerification %}
<!-- Domain verification -->

<meta name="google-site-verification" content="{{ seomaticIdentity.googleSiteVerification }}" />
{% endif %}

<!-- END SEOmatic rendered SEO Meta -->