<style>
div.seomatic-metrics-floater {
    position: fixed;
    left: 10px;
    bottom: 10px;
    padding: 8px;
    border: 1px solid #AAA;
    border-radius: 20px;
    height: 40px;
    width: 40px;
    background-color: #FFF;
    z-index: 2147483646;
    -webkit-box-shadow: 0px 2px 3px #555;
       -moz-box-shadow: 0px 2px 3px #555;
            box-shadow: 0px 2px 3px #555;
}
div#seomatic-metrics-content {
    position: fixed;
    left: 10px;
    bottom: 10px;
    padding: 10px;
    border: 1px solid #AAA;
    width: calc(100% - 20px);
    height: 50vh;
    display: none;
    background-color: #FFF;
    border-radius: 4px;
    z-index: 2147483647;
    -webkit-box-shadow: 0px 2px 3px #555;
       -moz-box-shadow: 0px 2px 3px #555;
            box-shadow: 0px 2px 3px #555;
}

div#seomatic-metrics-content-inner {
    width: 100%;
    height: 40vh;
}

div#seomatic-metrics-content object {
    width: 100%;
    height: 100%;
}

input[type="text"].seomatic-metrics-input {
    color: #222;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant-caps: normal;
    font-weight: normal;
    border: 1px solid rgba(0, 0, 0, .5);
    padding: 6px;
    margin-right: 8px;
    width: 50%;
    display: inline-block;
}

label.seomatic-metrics-label {
    color: #222;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant-caps: normal;
    font-weight: normal;
    padding: 8px;
    display: inline-block;
}

a.seomatic-metrics-button {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant-caps: normal;
    font-weight: normal;
    line-height: 18px;
    padding: 4px 10px;
    margin: 0;
    text-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: none;
    border: 2px solid rgba(0, 0, 0, .5);
    color: rgba(0, 0, 0, .8);
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

a.seomatic-metrics-button:hover {
    border-color: rgba(0, 0, 0, .8);
    color: rgba(0, 0, 0, 1.0);
}

a.seomatic-metrics-closebox {
    color: #222;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-variant-caps: normal;
    font-weight: normal;
}
div.seomatic-metrics-header {
    border-bottom: 1px dashed #d5d8dd;
    padding-bottom: 10px;
}

div.seomatic-metrics-header:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

</style>
<div id="seomatic-metrics-icon" class="seomatic-metrics-floater">
        <a href="#" onclick="load_metrics()">
            <img src="{{ resourceUrl('seomatic/icon.svg') }}" width="100%" height="auto" />
        </a>
</div>
<div id ="seomatic-metrics-content">
    <div class="seomatic-metrics-header">
        <div style="float: left; width: 95%;">
            <label class="seomatic-metrics-label">Focus Keywords:</label><input id="seomatic-metrics-keywords" type="text" class="seomatic-metrics-input" placeholder="comma separated keywords"> <a id="seomatic-metrics-analyze" class="seomatic-metrics-button" href="#" onclick="load_metrics()">Analyze</a>
        </div>
        <div style="float: right; text-align: right; width: 5%;">
            <a class="seomatic-metrics-closebox" href="#" onclick="close_metrics(); return false;">&#x2715;</a>
        </div>
    </div>
    <div id="seomatic-metrics-content-inner">
    </div>
</div>
<script>
function setCookie(cname, cvalue, exdays) {
    var d = new Date();
    d.setTime(d.getTime() + (exdays*24*60*60*1000));
    var expires = "expires="+d.toUTCString();
    document.cookie = cname + "=" + cvalue + "; " + expires  + ("; path=/");
} /* -- setCookie */

function getCookie(cname) {
    var name = cname + "=";
    var ca = document.cookie.split(';');
    for(var i=0; i<ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0)==' ') c = c.substring(1);
        if (c.indexOf(name) == 0) return c.substring(name.length,c.length);
    }
    return "";
} /* -- getCookie */

if (getCookie('seomatic-metrics-open')) {
    load_metrics();
    }

document.getElementById("seomatic-metrics-keywords")
    .addEventListener("keyup", function(event) {
    event.preventDefault();
    if (event.keyCode == 13) {
        document.getElementById("seomatic-metrics-analyze").click();
    }
});
    function load_metrics()
    {
        var floaterDiv = document.getElementById('seomatic-metrics-content');
        var dataUrl = "{{ metricsActionUrl }}";
        var dataKeywords = encodeURIComponent(document.getElementById("seomatic-metrics-keywords").value);

        floaterDiv.style.display='block';
        document.getElementById("seomatic-metrics-content-inner").innerHTML='<object type="text/html" data="' + dataUrl + dataKeywords + '" ></object>';
        setCookie('seomatic-metrics-open', '1', 1);
    }

    function close_metrics()
    {
        var floaterDiv = document.getElementById('seomatic-metrics-content');
        floaterDiv.style.display='none';
        setCookie('seomatic-metrics-open', '', 0);
    }
</script>