{% extends '_layouts/cp' %}
{% set title = 'Welcome to SEOmatic!' %}

{% includeCssResource "seomatic/css/style.css" %}

{% set linkGetStarted = url('seomatic/site') %}
{% set docsUrl = "https://github.com/nystudio107/seomatic/wiki" %}

{% set crumbs = [
    { label: craft.seomatic.getPluginName(), url: url('seomatic') },
    { label: "Welcome"|t, url: url('seomatic/welcome') },
] %}

{% set content %}
	<div style="text-align:center; margin:0 auto; padding: 5% 10%;">
		<img src="{{ resourceUrl('seomatic/icon.svg') }}" width="30%" height="auto" />
		<h2>Thanks for using SEOmatic!</h2>
		<p>SEOmatic is a turnkey SEO implementation for Craft CMS that is comprehensive, powerful, and flexible.  The SEOmetrics feature scans your content for focus keywords, and offers analysis on how to improve your SEO.</p>
		<p>It implements <a href='https://developers.google.com/schemas/formats/json-ld?hl=en' target='_blank'>JSON-LD</a> microdata, <a href='http://dublincore.org' target='_blank'>Dublin Core</a> core metadata, <a href='https://dev.twitter.com/cards/overview' target='_blank'>Twitter Card</a> tags, <a href='https://developers.facebook.com/docs/sharing/opengraph' target='_blank'>Facebook Open Graph</a> tags, <a href='http://humanstxt.org' target='_blank'>Humans.txt</a> authorship accreditation, and as well as HTML meta tags.</p>
		<p>The general philosophy is that SEO Site Meta can be overridden by SEO Template Meta, which can be overridden by SEO Entry Meta, which can be overridden by dynamic SEO Twig tags.  See the documentation for details by clicking on the ? link below.</p>
		<p>To better understand how all of this metadata benefits your website, please read: <a href='https://developers.google.com/structured-data/' target='_blank'>Promote Your Content with Structured Data Markup</a></p>
		<p>
			&nbsp;
		</p>
		<p>
			<a href="{{ linkGetStarted }}"><button class="btn submit">Get Started</button></a>
		</p>
	</div>
	<div style="text-align:center; margin:0 auto; padding: 0;">
		<p class="instructions">
			Brought to you by <a href="http://nystudio107.com" target="_blank">nystudio107</a>
		</p>
	</div>
{% endset %}