{% extends "_layouts/cp" %}
{% import '_includes/forms' as forms %}

{% includeCssResource "css/entry.css" %}
{% includeCssResource "seomatic/css/style.css" %}
{% includeCssResource "seomatic/css/css-reset.css" %}
{% includeCssResource "seomatic/css/prism.min.css" %}
{% includeJsResource "seomatic/js/seomatic.js" %}
{% includeJsResource "seomatic/js/identity.js" %}
{% includeJsResource "seomatic/js/jquery.bpopup.min.js" %}
{% includeJsResource "seomatic/js/prism.min.js" %}

{% set title = "SEOmatic"|t %}

{% set docsUrl = "https://github.com/khalwat/seomatic/blob/master/README.md" %}

{% set fullPageForm = true %}
{% set hasCustomLayout = true %}

{% set tabs = {
	meta:		{ label: "SEO Template Meta"|t, url: url('seomatic/meta') },
	site:		{ label: "SEO Site Meta"|t, url: url('seomatic/site') },
	identity:	{ label: "Site Identity"|t, url: url('seomatic/identity') },
	social:		{ label: "Social Media"|t, url: url('seomatic/social') },
	creator:	{ label: "Site Creator"|t, url: url('seomatic/creator') },
} %}

{% set selectedTab = 'identity' %}

{% block main %}

	{% include "seomatic/_preview_display_modal" with {'previewMetaPath': '', 'locale': identity.locale } %}
	{% include "seomatic/_preview_tags_modal" with {'previewMetaPath': '', 'locale': identity.locale } %}

        <input type="hidden" name="action" value="seomatic/saveIdentity" />
        <input type="hidden" name="redirect" value="seomatic/identity{% if craft.isLocalized %}/{{ identity.locale }}{% endif %}" />
        {{ getCsrfInput() }}

		<input type="hidden" name="locale" value="{{ identity.locale }}">

			<div class="grid first">
				<div class="item" data-position="left" data-min-colspan="2" data-max-colspan="3">
					<div id="fields" class="pane">
						{% include "_includes/tabs" %}

<!-- Site Ownership -->
						<h2>{{ "Site Ownership" |t }}</h2>

						{{ forms.textField({
							label: "googleSiteVerification"|t,
							instructions: "googleSiteVerification_help" |t |raw,
							id: 'googleSiteVerification',
							class: 'nicetext',
							name: 'googleSiteVerification',
							value: identity.googleSiteVerification,
							required: false,
							locale: identity.locale,
						}) }}

	                    {{ forms.selectField({
	                        first: true,
	                        label: "siteOwnerType"|t,
	                        instructions: "siteOwnerType_help"|t,
	                        id: "siteOwnerType",
	                        options: {
		            			corporation: 'Corporation'|t,
		            			organization: 'Organization'|t,
		            			restaurant: 'Restaurant'|t,
		            			person: 'Person'|t,
	                        },
	                        name: "siteOwnerType",
	                        value: identity.siteOwnerType,
							required: true,
							locale: identity.locale,
	                    }) }}

<!-- General Info -->
						<h2>{{ "General Info" |t }}</h2>
						
						{{ forms.textField({
							label: "genericOwnerName"|t,
							instructions: "genericOwnerName_help" |t |raw,
							id: 'genericOwnerName',
							class: 'nicetext',
							name: 'genericOwnerName',
							value: identity.genericOwnerName,
							required: true,
							locale: identity.locale,
						}) }}
						
						{{ forms.textField({
							label: "genericOwnerAlternateName"|t,
							instructions: "genericOwnerAlternateName_help" |t |raw,
							id: 'genericOwnerAlternateName',
							class: 'nicetext',
							name: 'genericOwnerAlternateName',
							value: identity.genericOwnerAlternateName,
							required: false,
							locale: identity.locale,
						}) }}

						<div class="field" id="genericOwnerDescription-field">
							<div class="heading">
								<label for="genericOwnerDescription">{{ "genericOwnerDescription"|t}}{% if craft.isLocalized and identity.locale %}<span class="locale">{{ identity.locale }}</span>{% endif %}</label>
								<div class="instructions"><p>{{ "genericOwnerDescription_help" |t |raw}}</p></div>
							</div>
							{{ forms.textarea({
								label: "genericOwnerDescription"|t,
								instructions: "genericOwnerDescription_help" |t |raw,
								id: 'genericOwnerDescription',
								class: 'nicetext',
								name: 'genericOwnerDescription',
								value: identity.genericOwnerDescription,
								required: false,
								locale: identity.locale,
							}) }}
						</div>

						{{ forms.textField({
							label: "genericOwnerUrl"|t,
							instructions: "genericOwnerUrl_help" |t |raw,
							id: 'genericOwnerUrl',
							class: 'nicetext',
							name: 'genericOwnerUrl',
							value: identity.genericOwnerUrl,
							required: false,
							locale: identity.locale,
						}) }}

						<div class="field" id="genericOwnerImageId-field">
							<div class="heading">
								<label for="genericOwnerImageId">{{ "genericOwnerImageId"|t}}{% if craft.isLocalized and identity.locale %}<span class="locale">{{ identity.locale }}</span>{% endif %}</label>
								<div class="instructions"><p>{{ "genericOwnerImageId_help" |t |raw}}</p></div>
							</div>
							<div class="input">
								{% if assetsSourceExists %}
									{{ forms.elementSelect({
										elements: elementsOwnerImage,
										id: 'genericOwnerImageId',
										name: 'genericOwnerImageId',
										elementType: elementType,
										criteria: {
											'kind': [],
											'localeEnabled': null,
											'locale': craft.locale,
										},
										sourceElementId: genericOwnerImageId,
										jsClass: 'Craft.AssetSelectInput',
										addButtonLabel: 'Select Brand Image',
										limit: 1,
										locale: identity.locale,
									}) }}
								{% else %}
									<p class="error">No assets sources currently exist. <a href="{{ newAssetsSourceUrl }}">Create one now...</a></p>
								{% endif %}
							</div>
						</div>

						{{ forms.textField({
							label: "genericOwnerTelephone"|t,
							instructions: "genericOwnerTelephone_help" |t |raw,
							id: 'genericOwnerTelephone',
							class: 'nicetext',
							name: 'genericOwnerTelephone',
							value: identity.genericOwnerTelephone,
							required: false,
							locale: identity.locale,
						}) }}

						{{ forms.textField({
							label: "genericOwnerEmail"|t,
							instructions: "genericOwnerEmail_help" |t |raw,
							id: 'genericOwnerEmail',
							class: 'nicetext',
							name: 'genericOwnerEmail',
							value: identity.genericOwnerEmail,
							required: false,
							locale: identity.locale,
						}) }}

<!-- Location -->
						<h2>{{ "Location Info" |t }}</h2>

						<div class="field">
							<div class="half-width-field half-width-field-left">
							{{ forms.textField({
								label: "genericOwnerGeoLatitude"|t,
								instructions: "genericOwnerGeoLatitude_help" |t |raw,
								id: 'genericOwnerGeoLatitude',
								class: 'nicetext',
								name: 'genericOwnerGeoLatitude',
								value: identity.genericOwnerGeoLatitude,
								required: false,
								locale: identity.locale,
							}) }}
							</div>
							
							<div class="half-width-field">
							{{ forms.textField({
								label: "genericOwnerGeoLongitude"|t,
								instructions: "genericOwnerGeoLongitude_help" |t |raw,
								id: 'genericOwnerGeoLongitude',
								class: 'nicetext',
								name: 'genericOwnerGeoLongitude',
								value: identity.genericOwnerGeoLongitude,
								required: false,
								locale: identity.locale,
							}) }}
							</div>
						</div>
						
						{{ forms.textField({
							label: "genericOwnerStreetAddress"|t,
							instructions: "genericOwnerStreetAddress_help" |t |raw,
							id: 'genericOwnerStreetAddress',
							class: 'nicetext',
							name: 'genericOwnerStreetAddress',
							value: identity.genericOwnerStreetAddress,
							required: false,
							locale: identity.locale,
						}) }}

						<div class="field">
							<div class="half-width-field half-width-field-left">
							{{ forms.textField({
								label: "genericOwnerAddressLocality"|t,
								instructions: "genericOwnerAddressLocality_help" |t |raw,
								id: 'genericOwnerAddressLocality',
								class: 'nicetext',
								name: 'genericOwnerAddressLocality',
								value: identity.genericOwnerAddressLocality,
								required: false,
								locale: identity.locale,
							}) }}
							</div>
							<div class="half-width-field">
							{{ forms.textField({
								label: "genericOwnerAddressRegion"|t,
								instructions: "genericOwnerAddressRegion_help" |t |raw,
								id: 'genericOwnerAddressRegion',
								class: 'nicetext',
								name: 'genericOwnerAddressRegion',
								value: identity.genericOwnerAddressRegion,
								required: false,
								locale: identity.locale,
							}) }}
							</div>
						</div>
						
						<div class="field">
							<div class="half-width-field half-width-field-left">
							{{ forms.textField({
								label: "genericOwnerPostalCode"|t,
								instructions: "genericOwnerPostalCode_help" |t |raw,
								id: 'genericOwnerPostalCode',
								class: 'nicetext',
								name: 'genericOwnerPostalCode',
								value: identity.genericOwnerPostalCode,
								required: false,
								locale: identity.locale,
							}) }}
							</div>
							<div class="half-width-field">
							{{ forms.textField({
								label: "genericOwnerAddressCountry"|t,
								instructions: "genericOwnerAddressCountry_help" |t |raw,
								id: 'genericOwnerAddressCountry',
								class: 'nicetext',
								name: 'genericOwnerAddressCountry',
								value: identity.genericOwnerAddressCountry,
								required: true,
								locale: identity.locale,
							}) }}
							</div>
						</div>
						
<!-- General organization fields -->

	                    <div id="generic" class="metaPane">
							<h2>{{ "Organization Info" |t }}</h2>
	
							<div class="field">
								<div class="half-width-field half-width-field-left">
								{{ forms.textField({
									label: "organizationOwnerDuns"|t,
									instructions: "organizationOwnerDuns_help" |t |raw,
									id: 'organizationOwnerDuns',
									class: 'nicetext',
									name: 'organizationOwnerDuns',
									value: identity.organizationOwnerDuns,
									required: false,
									locale: identity.locale,
								}) }}
								</div>
								<div class="half-width-field">
								{{ forms.textField({
									label: "organizationOwnerFounder"|t,
									instructions: "organizationOwnerFounder_help" |t |raw,
									id: 'organizationOwnerFounder',
									class: 'nicetext',
									name: 'organizationOwnerFounder',
									value: identity.organizationOwnerFounder,
									required: false,
									locale: identity.locale,
								}) }}
								</div>
							</div>

							<div class="field">
								<div class="half-width-field half-width-field-left">
								{{ forms.textField({
									label: "organizationOwnerFoundingDate"|t,
									instructions: "organizationOwnerFoundingDate_help" |t |raw,
									id: 'organizationOwnerFoundingDate',
									class: 'nicetext',
									name: 'organizationOwnerFoundingDate',
									value: identity.organizationOwnerFoundingDate,
									required: false,
									locale: identity.locale,
								}) }}
								</div>
								<div class="half-width-field">
								{{ forms.textField({
									label: "organizationOwnerFoundingLocation"|t,
									instructions: "organizationOwnerFoundingLocation_help" |t |raw,
									id: 'organizationOwnerFoundingLocation',
									class: 'nicetext',
									name: 'organizationOwnerFoundingLocation',
									value: identity.organizationOwnerFoundingLocation,
									required: false,
									locale: identity.locale,
								}) }}
								</div>
							</div>
							
	                    </div>
	                    
<!-- Corporation-specific fields -->

	                    <div id="corporation" class="metaPane field">
							<h2>{{ "Corporation Info" |t }}</h2>
							{{ forms.textField({
								label: "corporationOwnerTickerSymbol"|t,
								instructions: "corporationOwnerTickerSymbol_help" |t |raw,
								id: 'corporationOwnerTickerSymbol',
								class: 'nicetext',
								name: 'corporationOwnerTickerSymbol',
								value: identity.corporationOwnerTickerSymbol,
								required: false,
								locale: identity.locale,
							}) }}
	                    </div>

<!-- Organization-specific fields -->

	                    <div id="organization" class="metaPane field">
	                    </div>

<!-- Restaurant-specific fields -->

	                    <div id="restaurant" class="metaPane field">
							<h2>{{ "Restaurant Info" |t }}</h2>
							{{ forms.textField({
								label: "restaurantOwnerServesCuisine"|t,
								instructions: "restaurantOwnerServesCuisine_help" |t |raw,
								id: 'restaurantOwnerServesCuisine',
								class: 'nicetext',
								name: 'restaurantOwnerServesCuisine',
								value: identity.restaurantOwnerServesCuisine,
								required: false,
								locale: identity.locale,
							}) }}
	                    </div>

<!-- Person-specific fields -->

	                    <div id="person" class="metaPane field">
							<h2>{{ "Person Info" |t }}</h2>
							<div class="field">
								<div class="half-width-field half-width-field-left">
								{{ forms.textField({
									label: "personOwnerGender"|t,
									instructions: "personOwnerGender_help" |t |raw,
									id: 'personOwnerGender',
									class: 'nicetext',
									name: 'personOwnerGender',
									value: identity.personOwnerGender,
									required: false,
									locale: identity.locale,
								}) }}
								</div>
								<div class="half-width-field">
								{{ forms.textField({
									label: "personOwnerBirthPlace"|t,
									instructions: "personOwnerBirthPlace_help" |t |raw,
									id: 'personOwnerBirthPlace',
									class: 'nicetext',
									name: 'personOwnerBirthPlace',
									value: identity.personOwnerBirthPlace,
									required: false,
									locale: identity.locale,
								}) }}
								</div>
							</div>
	                    </div>
                        
                        <p>&nbsp;</p>
	 					<p>{{ "environmentalVariables_ok" |t |raw }}</p>
            
					</div>
										
				</div>
	
				<div class="item" data-position="right" data-colspan="1">
	
					<div id="preview-display" class="btn big livepreviewbtn">
						Preview SEO Meta Display
					</div>

					<div id="preview-tags" class="btn big livepreviewbtn secondbtn">
						Preview SEO Meta Tags
					</div>

					{% if craft.isLocalized %}
						<ul id="locales" class="pane">
							{% for locale in craft.i18n.getSiteLocales() %}
								{% if locale == identity.locale %}
									<li class="sel">{{ locale.name }}</li>
								{% else %}
									<li><a href="{{ url('seomatic/identity') ~ '/' ~ locale.id }}">{{ locale.name }}</a></li>
								{% endif %}
							{% endfor %}
							<li><p class="instructions">{{ "localizing_help" |t |raw }}</p></li>
						</ul>
					{% endif %}
					
					<div class="pane">
						<div style="text-align:center; margin:0 auto;">
							<img src="{{ resourceUrl('seomatic/images/site_identity.svg') }}" width="64px" height="auto" />
						</div>
						{{ "siteIdentity_help" |t |raw }}
					</div>
	
				</div>
			</div>

{% endblock %}
